@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Montserrat:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url('/Images/fullBG.webp'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: repeat; 
  background-attachment: fixed; 
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}


.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


.exo{
  font-family: "Exo", serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

.red{
  color: #ee0a00;
}
.blue{
 color: #046dfd;
}
.skyBlue{
  color: #64fcfd;
}
.green{
 color: #73ee60;
}
