@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url('/Images/fullBG.webp'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: repeat; 
  background-attachment: fixed; 
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}


.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;

}




.exo{
  font-family: "Exo", serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

.red{
  color: #ee0a00;
}
.blue{
 color: #046dfd;
}
.skyBlue{
  color: #64fcfd;
}
.green{
 color: #73ee60;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  border-right: 3px solid #ee0a00;
}

.typing {
  animation: typing steps(17,end), blink 1s step-end infinite;
}

@keyframes typing {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


@keyframes growDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px; /* Adjust to a value larger than the content height */
    opacity: 1;
  }
}

.slide-grow {
  animation: growDown 1s ease-in-out forwards ;
  /* animation-delay: 3s;  */
  overflow: hidden; /* Ensure content is hidden while growing */
  max-height: 0; /* Initial height */
}


.zoom{
  transition: transform 400ms ease-in-out;
  /* width:100%; */
  /* height: auto; */
}
.zoom:hover{
  transform: scale(1.1);
}

.testimonial-container {

  height: 100%; /* Take full height of the container */
  position: relative;
}

/* Style each individual letter */
.flip-letter {
  display: inline-block;
  opacity: 0;
  transform: rotateX(90deg); /* Start with the letter rotated */
  animation: flipIn 1s forwards;
}

@keyframes flipIn {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  50% {
    opacity: 1;
    transform: rotateX(0deg); /* Flip the letter into place */
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg); /* End with the letter upright */
  }
}

/* Trigger flipping effect when changing words */
.flipping {
  animation: flipOut 1s forwards;
}



.kashish{
  height: 20px;
  width: 45px;
  border: 2px solid #64fcfd;
}